*{
    margin: 0;
    padding: 0;
}
.header{
    width: auto;
    height:5rem;
    background-color:#8865A7;
    font-size: 16px;
    font-weight: 500;
}
.left{
    float: left;
}
li{
    display: inline-block;
}
img{
    width: 4rem;
    padding-top: 0.5rem;

}
.right{
    float:right;
    padding-right: 0.3rem;
    color:white;
    padding-top: 2rem;
}
.menu{
    width: auto;
    height:5rem;
    background-color:#FFAA53;
    font-size: 16px;
    font-weight: 500;
}
div.menu li a{
    text-decoration: none;
    text-align: center;
    color:black;
    padding-right: 2rem;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    
}
div.menu{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
div.menu li a:hover{

    color:white;
  
}
.paragraf1{
    text-align: justify;
    padding: 2rem;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    opacity: 0.8;
  
}
.btn img{
    /* position: fixed; */
    
    

}
.btn{
   z-index:9999; 
  position:fixed;
  bottom:1rem;  
  right:2rem;        
  /* background-color: #8865A7; */
}
.btn:hover{
    /* box-shadow: 5px 5px yellow; */
}
.btn img{
    width: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.btn{
    background-color: #8865A7;
    width: 40px;
    border-radius: 20px;
}
.btn img:hover{
    background-color: yellow;
}